.custom{
    opacity: 0.5;
    font-weight: 700;
    margin-top: 5px;

}
.start{
    min-height: 200px;
    max-height: 200px;
    min-width: 160px;
    max-width: 160px;
    opacity: 1;
    float:left;
}
.in{
    margin: 14px;
    display:inline-block;
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    background-color: red;
    border: 2px solid grey;
}
.in:hover{
    opacity: 0.4;

}